<br />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>

<div class="mb-4">
  <a href="/Hospital/{{bed.hos_id}}/leito/Delete/{{bed.bed_id}}" class="float-right btn btn-danger" alt="Apagar leito" title="Apagar leito" data-toggle="modal" data-toggle="tooltip" data-placement="top" data-target="#mdDelete" >
    <i class="fa fa-trash mr-2"></i> Remover
  </a>
  <h3>
      <i class="fa fa-user-md" aria-hidden="true"></i>
      {{bed.bed_name}}
  </h3>
  <h5>Atualização de Leito</h5>
</div>
<form action="/hospital/{{bed.hos_id}}/leito/Update/{{bed.bed_id}}" method="post">
  <div class="card mt-4 mb-4">
      <div class="card-body">
            <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="inputNome">Nome</label>
                    <input type="text" class="form-control" name="inputNome" placeholder="" maxlength="100" min="5" max="100" value="{{bed.bed_name}}" >
                  </div>
                </div>
            </div>        
            <br>
      </div>
    </div>            
  <div class="form-row text-center">
      <button type="submit" class="btn btn-success mr-2">Salvar</button> 
      <a class=" btn btn-primary" href="/hospital/{{bed.hos_id}}/leito/sts" role="button">Voltar</a>
  </div>
    
</form>

<!-- Modal Delete-->
<div class="modal fade bd-example-modal-lg" id="mdDelete" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Desativar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Deseja apagar o registro de
        <span id="info"> {{bed.bed_name}} </span>
        ?
      </div>
      <div class="modal-footer">
        <form action="/Hospital/{{bed.hos_id}}/leito/Delete/{{bed.emp_id}}" method="get">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-danger">Apagar</button>
        </form>
      </div>
    </div>
  </div>
</div>




<script>
    $(document).ready(function(){

        var contactCount = {{{json count}}};

        $(document).on('click', '.add', function(){
            var html = '';
            html += '<tr>';
            html += '<td><select name="inputContactType" class="form-control inputContactType mt-2"><option value="Telefone">Telefone</option><option value="E-mail">E-mail</option><option value="Fax">Fax</option></select></td>';
            html += '<td><input type="text" name="inputContactBox" class="form-control inputContactBox mt-2 ml-2" /></td>';
            html += '<td><button type="button" name="remove" class="btn btn-danger  remove mt-2 ml-4"><span class="fa fa-minus"></span></button></td></tr>';
            $('#item_table').append(html);
            contactCount = contactCount + 1;
        });
        $(document).on('click', '.remove', function(){
            $(this).closest('tr').remove();
            contactCount = contactCount - 1;
            if(contactCount === 0){
              document.getElementById("newContactBox").required = true;
            }else{
              document.getElementById("newContactBox").required = false;
            }
        });
    });

    document.getElementById('demissButton').onclick = function() {
      var disabled = document.getElementById("inputDemiss").disabled;
      if (disabled) {
        document.getElementById("inputDemiss").disabled = false;
        document.getElementById("inputDemiss").required = true;
      } else {
        document.getElementById("inputDemiss").disabled = true;
        document.getElementById("inputDemiss").required = false;
        document.getElementById("inputDemiss").value = null;
      }
    }
    var MoneyOpts = { reverse:true,
                      maxlength: false,
                      placeholder: 'Insira um valor',
                      onKeyPress: function(v, ev, curField, opts) {
                        var mask = curField.data('mask').mask;
                            decimalSep = (/0(.)00/gi).exec(mask)[1] || ',';
                        if (curField.data('mask-isZero') && curField.data('mask-keycode') == 8)
                          $(curField).val('');
                        else if (v) {
                          // remove previously added stuff at start of string
                          v = v.replace(new RegExp('^0*\\'+decimalSep+'?0*'), ''); //v = v.replace(/^0*,?0*/, '');
                          v = v.length == 0 ? '0'+decimalSep+'00' : (v.length == 1 ? '0'+decimalSep+'0'+v : (v.length == 2 ? '0'+decimalSep+v : v));
                          $(curField).val(v).data('mask-isZero', (v=='0'+decimalSep+'00'));
                        }
                      }
                    };

  $('.money').mask("#.##0,00", MoneyOpts);

</script>
