<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js"></script>

<br>

<a href="/Hospital/{{hos.hos_id}}/leito/New" class="float-right btn btn-success" alt="Cadastrar novo leito" title="Cadastrar novo leito"><i class="fa fa-plus mr-2" aria-hidden="true"></i> Adicionar</a>
<div class="mt-4 mb-4">
  <h3>
    <i class="fa fas fa-procedures" aria-hidden="true"></i>
    Leitos
  </h3>
  <h5>{{hos.hos_name}}</h5>
</div>

<div class="card mt-4 mb-4">
    <div class="card-body">
      <table id="listaLeitos" class="table responsive table-striped table-hover" style="width:100%">
        <thead>
          <tr>
            <th class='text-center'>Nome Leito: </th>
            <th class='text-center' style="width:45px">Prontuário</th>
            <th class='text-center'>Setor</th>
            <th class='text-center' style="width:45px">Situação</th>
          <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each bed}}
            
          <tr>
            <td class='text-center'>{{bed_name}}</td>
            <td class='text-center' style="width:45px">
              <div class="form-row text-center btn-group btn-group-justified" style="width:45px">
                {{#ifEquals bed_status 1 }}
                  <a class="btn btn-primary btn-sm rounded-2 mr-1" href="/hospital/{{hos_id}}/leito/records/{{bed_id}}" alt="Ver Registro Médico" data-toggle="tooltip" data-placement="top" title="Ver Registro Médico">
                    <i class="fas fa-notes-medical"></i>
                  </a>
                {{/ifEquals}} 
              </div>
            </td>              
            <td class='text-center'>{{Bed_sector.sector_desc}}</td>
            {{#ifEquals bed_status 0 }}
                <td class='text-center'><i class="fa fa-circle" style="color:green" aria-hidden="true" style="width:45px"></i></td>   
            {{/ifEquals}} 
            {{#ifEquals bed_status 1 }}
                <td class='text-center'><i class="fa fa-circle" style="color:red" aria-hidden="true" style="width:45px"></i></td>   
            {{/ifEquals}}         
          <td class="text-center">
              <div class="form-row text-center btn-group btn-group-justified" style="width:45px">
                <button id={{bed_id}} type="button" class="btn btn-primary btn-sm rounded-2 mr-1" data-toggle="modal" data-target="#BedUpdate{{bed_id}}" alt="Atualizar Leito" data-placement="top" title="Atualizar Leito">
                  <i class="fa fa-edit"></i>
                </button>
              </div>
              <div class="form-row text-center btn-group btn-group-justified" style="width:45px">
               <button id={{bed_id}} type="button" class="btn btn-primary btn-sm rounded-2 mr-1" data-toggle="modal" data-target="#mdDelete{{bed_id}}" alt="Deletar Leito" data-placement="top" title="Deletar Leito">
                    <i class="fas fa-trash"></i>
                </button>
              </div>
            </td>
          </tr> 
          {{/each}}
        </tbody>
      </table>
    </div>
</div>
 <a class="btn btn-primary" href="/Hospital" role="button">Voltar</a>


{{#each bed}}
<!-- Modal Update -->
<div class="modal fade bd-example-modal-lg" id="BedUpdate{{bed_id}}" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel{{bed_id}}"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel{{bed_id}}">Atualizar Leito</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- FORM ATUALIZACAO  -->
        <form action="/hospital/{{@root.hos.hos_id}}/leito/update/{{bed_id}}" method="post">
	      <div class="form-group">
	        <label for="inputDesc">Descri&ccedil;&atilde;o</label>
	        <input type="text" class="form-control" name="inputDesc" id="inputDesc" placeholder="Descri&ccedil;&atilde;o da Leito" value="{{bed_name}}">
	      </div>
         <div class="row">
                <div class="col">
                  <div class="form-group">
                     <label for="inputSetor">Setor</label>
                          <select class="form-control" name="inputSetor">                                                        
                              <option value="1">UTI </option>
                              <option value="2">AMBULATORIO</option>                              
                          </select>                                      
                  </div>
                </div>
            </div>  
            <div class="row">
                <div class="col">
                  <div class="form-group">
                     <label for="inputStatus">Status de Leito</label>
                          <select class="form-control" name="inputStatus">                                                        
                              <option value="0">Disponível</option>
                              <option value="1">Ocupado</option>                              
                          </select>                                      
                  </div>
                </div>
            </div>  
          <!--  FIM FORM ATUALIZACAO  --->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-success">Atualizar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Modal Delete-->
<div class="modal fade bd-example-modal-lg" id="mdDelete{{bed_id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Remove</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Deseja desativar esse registro?
        Leito: <span id="info"> {{bed_name}} </span>
      </div>
      <div class="modal-footer">
        <form action="/hospital/{{@root.hos.hos_id}}/leito/Delete/{{bed_id}}" method="get">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-danger">Desativar</button>
        </form>

      </div>
    </div>
  </div>
</div>
{{/each}}




<script>
  $(document).ready(function () {
    $('#listaLeitos').DataTable({
            responsive: true,
            columnDefs: [{ responsivePriority: 1, targets: 1 },
                         { responsivePriority: 2, targets: -1 },
                         { responsivePriority: 3, targets: 3 },
                         { responsivePriority: 4, targets: 4 },],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Portuguese-Brasil.json",
                decimal: ',',
            }
        });
  });
</script>
