
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/3.3.0/js/dataTables.fixedColumns.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

<div class="mt-4 mb-4">
  <h3>
    <i class="fas fa-cart-plus" aria-hidden="true"></i>
    Compras
  </h3>
</div>

<ul class="nav nav-tabs mt-4">
  <li class="nav-item">
    <a class="nav-link {{abaNovos}}" href="{{#if hos}}/hospital/{{hos.hos_cnes_code}}{{else}}/fornecedor/{{pro.pro_id}}{{/if}}/compra/">Novos Pedidos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{abaPedidos}}" href="{{#if hos}}/hospital/{{hos.hos_cnes_code}}{{else}}/fornecedor/{{pro.pro_id}}{{/if}}/compra/pedidos">Pedidos realizados</a>
  </li>

</ul>
  <div class="card mb-4">
    <div class="card-body">



<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <p class="lead">Verifique os pedidos realizados e o status de cada um deles.</p>
</div>


    <table id="listaPedidos" class="table responsive table-striped table-hover" style="width:100%">

      <thead>
        <tr>
            <th class="text-center" style="width:15%">NÚMERO</th>
            <th class="text-center" style="width:50%">MATERIAL</th>
            <th class="text-center" style="width:50%">FABRICANTE</th>
            <th class="text-center" style="width:20%">STATUS</th>
            <th class="text-center" style="width:20%"></th>
            <th style="width:15%"></th>
        </tr>
      </thead>

      <tbody>
          {{#each orders}}
            <tr>
              <td class="text-center" style="width:15%">{{ord.ord_id}}</td>
              <td class="text-center">{{asset.Description}}</td>
              <td class="text-center">{{asset.Manufacturer}}</td>
              <td>
                {{#ifEquals ord.ord_status 'processing'}}
                  <h4><span class="badge badge-pill badge-warning">Processando</span></h4>
                {{/ifEquals}}
                {{#ifEquals ord.ord_status 'canceled'}}
                  <h4><span class="badge badge-pill badge-danger">Cancelado</span></h4>
                {{/ifEquals}}
                {{#ifEquals ord.ord_status 'aproved'}} 
                  <h4><span class="badge badge-pill badge-success">Aprovado</span></h4>
                {{/ifEquals}}
                {{#ifEquals ord.ord_status 'complete'}} 
                  <h4><span class="badge badge-pill badge-secondary">Entregue</span></h4>
                {{/ifEquals}}
              </td>
              <td>

                {{#ifEquals ord.ord_status 'aproved'}}
                <form action="/hospital/{{@root.hos.hos_cnes_code}}/purchased/receber" method="POST">
                  <h4><button type="submit" class="badge badge-pill badge-primary">Receber</button></h4>
                  <input type="hidden" id="inputTransactionID" name="inputTransactionID" value="{{ord.ord_asset_id}}">
                  <input type="hidden" id="inputProviderID" name="inputProviderID" value="{{pro.pro_id}}">
                  <input type="hidden" id="inputQty" name="inputQty" value="{{ord.ord_quantity}}">
                  <input type="hidden" id="inputOrderID" name="inputOrderID" value="{{ord.ord_id}}">
                </form>
                  
                {{/ifEquals}}

              </td>
              <td class="text-center" data-priority="2" style="width:15%">
                <div class="form-row text-center btn-group btn-group-justified" style="width:70px">
                    <div>
                      <button id="{{ord.ord_id}}" type="button" class="btn btn-primary rounded-2 mr-2" data-toggle="modal" alt="Ver detalhes" title="Ver detalhes"
                        data-target="#mdUpdate{{ord.ord_id}}">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </td>
            </tr>
          {{/each}}
      </tbody>
    </table>


    </div>
  </div>



<form action="/" method="GET">
  <div class="form-row text-center">
    {{#if hos}}
      <a href="/hospital/{{hos.hos_cnes_code}}" class=" btn btn-primary">Voltar</a>
    {{else}}
      <a href="/fornecedor/{{pro.pro_id}}" class=" btn btn-primary">Voltar</a>
    {{/if}}
  </div>  
</form>


</body>

{{#each orders}}
<!-- Modal Update -->
<div class="modal fade bd-example-modal-lg" id="mdUpdate{{ord.ord_id}}" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel{{ord.ord_id}}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel{{ord.ord_id}}">Detalhes do pedido</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
              <table class="table">
                <tr>
                  <td style="width:30%"><h6><strong>Data do pedido: </strong> </h6></td>
                  <td> <input type="date" class="form-control" value="{{ord.ord_date}}" disabled></td>
                </tr>
                <tr>
                  <td style="width:30%"><h6><strong>Data de aprovação: </strong> </h6></td>
                  <td></td>
                </tr>
                <tr>
                  <td style="width:30%"><h6><strong>Fornecedor: </strong> </h6></td>
                  <td>{{pro.pro_name}}</td>
                </tr>
                <tr>
                  <td style="width:30%"><h6><strong>Quantidade Comprada: </strong> </h6></td>
                  <td>{{ord.ord_quantity}}</td>
                </tr>
                <tr>
                  <td style="width:30%"><h6><strong>Valor pago: </strong> </h6></td>
                  <td>{{totalPrice}}</td>
                </tr>
              </table>


          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Voltar</button>
          </div>
      </div>
    </div>
  </div>
</div>
{{/each}}


<script>



$(document).ready(function () {
    $('#listaPedidos').DataTable({
            responsive: true,
            columnDefs: [{ responsivePriority: 1, targets: 0 },
                         { responsivePriority: 2, targets: -1 },
                         { responsivePriority: 3, targets: 2 }],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Portuguese-Brasil.json",
                decimal: ',',
            }
        });
  });


      var MoneyOpts = { reverse:true,
                      maxlength: false,
                      placeholder: 'Insira um valor',
                      onKeyPress: function(v, ev, curField, opts) {
                        var mask = curField.data('mask').mask;
                            decimalSep = (/0(.)00/gi).exec(mask)[1] || ',';
                        if (curField.data('mask-isZero') && curField.data('mask-keycode') == 8)
                          $(curField).val('');
                        else if (v) {
                          // remove previously added stuff at start of string
                          v = v.replace(new RegExp('^0*\\'+decimalSep+'?0*'), ''); //v = v.replace(/^0*,?0*/, '');
                          v = v.length == 0 ? '0'+decimalSep+'00' : (v.length == 1 ? '0'+decimalSep+'0'+v : (v.length == 2 ? '0'+decimalSep+v : v));
                          $(curField).val(v).data('mask-isZero', (v=='0'+decimalSep+'00'));
                        }
                      }
                    };

 $('.money').mask("#.##0,00", MoneyOpts);

</script>