<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{title}}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/ff9959466d.js"></script>
	<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' />
    <link rel="shortcut icon" href="/favicon.ico" />
</head>
<body style="background-color: rgb(251, 250, 250)">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            {{#if hos}}
                <a class="navbar-brand" href="/hospital/{{hos.hos_cnes_code}}">
            {{else}}
                <a class="navbar-brand" href="/fornecedor/FORNECEDOR_ID"></a>
            {{/if}}
            
            <i class="fa fas fa-hand-holding-medical"></i>
            Recursos
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {{#if hos}}
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/hospital/{{hos.hos_cnes_code}}/estoque">
                            <i class="fas fa-cubes mr-2"></i>
                            Estoque</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/fospital/{{hos.hos_cnes_code}}/aquisicao">
                            <i class="fas fa-handshake mr-2" aria-hidden="true"></i>   
                            Aquisição
                            </a>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <span class="navbar-brand">
                            <i class="fa fa-h-square mr-2" aria-hidden="true"></i>
                            {{hos.hos_name}}
                        </span>
                    </li>
                </ul>
            {{else}}
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/fornecedor/FORNECEDOR_id/estoque">
                            <i class="fas fa-cubes mr-2"></i>
                            Estoque</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/fornecedor/FORNECEDOR_id/aquisicao">
                            <i class="fas fa-comment-dollar mr-2" aria-hidden="true"></i>   
                            Aquisição
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/fornecedor/FORNECEDOR_id/transferencia">
                            <i class="fas fa-handshake mr-2" aria-hidden="true"></i>   
                            Transferência
                            </a>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <span class="navbar-brand">
                            <i class="fa fa-h-square mr-2" aria-hidden="true"></i>
                            {{hos.hos_name}}
                        </span>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <span class="navbar-brand">
                            <i class="fas fa-bullhorn mr-2" aria-hidden="true"></i>
                            INSERIR AQUI O FORNECEDOR-OBJETO
                        </span>
                    </li>
                </ul>
            {{/if}}
        </div>
    </nav>
    
    <main role="main">
        <div class="container mt-3">
            {{>_msg}}
            {{{body}}}
        </div>
         
        <div class="container">
            <div class="form-row">
                <hr>
            </div>
        </div>
    </main>
    <div class="container">
        <hr>
    </div>
    <footer class="container">
        <label>
            <div class="row marcador align-items-right">
                <div class="col mx-auto text-right">
                    <img class="img-responsive" src="https://logodownload.org/wp-content/uploads/2018/01/ita-logo-7.png" alt="Instituto Tecnolígico de Aeronáutica" title="Instituto Tecnolígico de Aeronáutica">
                </div>
            </div>
        </label>
        <label class="ml-4">
            <p>STEPES - BD</p>
        </label>
    </footer>
</body>
</html>