<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/3.3.0/js/dataTables.fixedColumns.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>


<!-- example code of the bootstrap website 
<label class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">Check this custom checkbox</span>
</label>
-->



<div class="container-fluid mt-4">
  <div class="row justify-content-center">
      <div class="col-auto">
            <div class="card">
              <div class="card-body">
                 <h5 class="card-title text-center"><i class="fas fa-user mr-2" aria-hidden="true" style="color:rgb(96, 184, 93)">  </i>Dados do Paciente</h5>
                <table class="table table-hover">
                  <thead>
                    <tr class="table-success">
                      <th class='text-center' scope="col">NOME</th>
                      <th class='text-center' scope="col">CIDADE</th>
                      <th class='text-center' scope="col">UF</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr>
                        <td class='text-center'>{{att.Paciente.Nome}}</td>
                        <td class='text-center'>{{att.Paciente.Endereco.Cidade}}</td>
                        <td class='text-center'>{{att.Paciente.Endereco.UF}}</td>
                      </tr>
                  </tbody>
                </table>

              </div>
            </div>
      </div>
  </div>
</div>

<form action="/attendance/step4" method="POST">
  <div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="col-auto">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center"><i class="fas fa-capsules mr-2" aria-hidden="true" style="color:rgb(65, 137, 219)">  </i>Escolha os itens que irá utilizar durante o atendimento</h5>

                  <table id="listaEstoque" class="table responsive table-striped table-hover" style="width:100%">
                    <thead>
                      <tr class="table-primary">
                          <th class="text-center">DESCRIÇÃO</th>
                          <th class="text-center" style="width:15%">ESCOLHER</th>

                      </tr>
                    </thead>
                    <tbody>
                      {{#each asset}}
                        {{#ifEquals data.Product.Type "Descartaveis"}}
                          <tr>
                            <td class="text-center">{{data.Product.Description}}</td>
                            <td class="text-center" style="width:15%" data-priority="2">
                              <input type="checkbox" name="inputAsset" value="{{id}}" class="checkme"/>
                            </td>
                          </tr>
                        {{/ifEquals}}
                      {{/each}}
                    </tbody>
                  </table>

                </div>
              </div>
        </div>
    </div>
  </div>

  <div class="container-fluid col-md-8 mt-2">
    <div class="d-flex flex-row-reverse">
        <div class="col-auto">
        <button type="submit" class="btn btn-success mr-4">Finalizar</button>
      </div>
    </div>  
  </div>
</form>
<div class="container-fluid col-md-8 mt-2">
  <div class="d-flex flex-row-reverse">
      <div class="col-auto">
        <button onclick="goBack()" class="btn btn-secondary mr-4">Voltar</button>
    </div>
  </div>  
</div>


<script>
function goBack() {
    window.history.back()
}

$(document).ready(function () {
    $('#listaEstoque').DataTable({
            responsive: true,
            columnDefs: [{ responsivePriority: 1, targets: 0 },
                         { responsivePriority: 2, targets: 1 },
                         { responsivePriority: 3, targets: 2 }, 
                        ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Portuguese-Brasil.json",
                decimal: ',',
            }
        });
  });

</script>